{% extends 'base/base.html' %}

{% block content %}    
   
<div class="container mt-5 pt-5">
<div class="row">
    
    {% comment %} {% for search in item %} {% endcomment %}
    <div class="col-md-3">
        <figure class="card card-product-grid">
            <div class="img-wrap"> <img src="/media/{{item.product_images.first.image}}"> </div>
            <figcaption class="info-wrap border-top">
                <a href="{% url 'get_product' item.slug %}" class="title">
                    {% comment %} product/{{product.slug}} {% endcomment %}
                    <b>{{item.product_name}}</b></a>
                <div class="price mt-2">${{item.price}}.00</div> <!-- price-wrap.// -->
            </figcaption>
        </figure> <!-- card // -->
    </div> <!-- col.// -->

    {% comment %} {% endfor %} {% endcomment %}
   
</div>
</div>
    {% include 'base/footer.html' %}
    
{% endblock %}